/**
 * DokuWiki Plugin Code Prettifier
 */

div.plugin_codeprettify {
    margin-bottom: 0;
    margin-left: 2em;
    padding: 0;
    font-size: 90%;
}
div.plugin_codeprettify p {
    margin: 0;
}
div.plugin_codeprettify + pre {
    margin-top: 0 !important;
}

/*
 * fold down longer line
 */
pre.prettyprint {
    white-space: pre-wrap;
    word-wrap: break-word;
}

/*
 * put line numbers on every line instead of just every fifth line
 */
pre.prettyprint ol.linenums {
    padding-left: 1em;
    list-style-position: outside;
}
pre.prettyprint ol.linenums > li.L0 { list-style-type: decimal; }
pre.prettyprint ol.linenums > li.L1 { list-style-type: decimal; }
pre.prettyprint ol.linenums > li.L2 { list-style-type: decimal; }
pre.prettyprint ol.linenums > li.L3 { list-style-type: decimal; }
pre.prettyprint ol.linenums > li.L4 { list-style-type: decimal; }
pre.prettyprint ol.linenums > li.L5 { list-style-type: decimal; }
pre.prettyprint ol.linenums > li.L6 { list-style-type: decimal; }
pre.prettyprint ol.linenums > li.L7 { list-style-type: decimal; }
pre.prettyprint ol.linenums > li.L8 { list-style-type: decimal; }
pre.prettyprint ol.linenums > li.L9 { list-style-type: decimal; }

