/**
 * DokuWiki Plugin Code Prettifier
 */

div.plugin_codeprettify {
    margin-bottom: 0;
    margin-left: 2em;
    padding: 0;
    font-size: 90%;
}
div.plugin_codeprettify p {
    margin: 0;
}
div.plugin_codeprettify + pre {
    margin-top: 0 !important;
}

/*
 * fold down longer line
 */
pre.prettyprint {
    white-space: -moz-prewrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/*
 * put line numbers on every line instead of just every fifth line
 */
pre.prettyprint li {
    list-style: decimal outside;
}
